img{
padding: 2%;
}

/*.carousel-items{
      justify-content: center;
}*/

.test {
      position: relative;
      float: left;
      margin-right: -100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: -webkit-transform .6s ease-in-out;
      transition: transform .6s ease-in-out;
      transition: transform .6s ease-in-out,-webkit-transform .6s;
}
.carousel-item.active {
      display: flex;
      
}
.carousel-inner>div{
      justify-content: center;
}

.section{
      display: flex;
      flex-direction: column;
}
/*#carousels{
      display: flex;
      flex-direction: column !important;
}*/