body {
  background-color: rgb(80, 92, 104);
  width: 100%;
  height: 100vh;

}

.searchBtn {
  height: 37px;
  color: white;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 5px;
}

.submitBtn {
  color: white;
  background-color: orange;
  padding: 10px 88px !important;
}

.footerBgrd {
  background-color: white;
}

.navLi {
  list-style: none;
  margin: auto;
  font-size: small;
}

.navUl {
  width: 50%;
  margin: auto;
}

a {
  color: inherit;
}

a:hover {
  color: orange;
}

.hgtTxtArea {
  height: 150px;
}

.btn-nav {
  color: white;
  background-color: orange;
  padding: 5px 50px !important;
  margin: 0px 10px;
}

/* css profile page*/
